body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contulmeu {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;

}
.contulmeu h1 {
    font-size: 32px;
    color: #333;

}
.contulmeu p {
    font-size: 18px;
    color: #666;
}
.contulmeu button{
    background-color: orange;
    color: white;
    border: none;
    padding: 8px 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 14px;

}
.contulmeu button:hover{
    background-color: darkorange;
    color: black;
}