/* PAGE FULL SCREEN */
.page-auth {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  display: flex;
  justify-content: center;
  align-items: center;
}

/* CARD CENTRAL */
.auth-card {
  display: flex;
  width: 900px;
  min-height: 520px;
  background: white;
  border-radius: 16px;
  box-shadow: 0 30px 60px rgba(0,0,0,0.25);
  overflow: hidden;
}

/* SECTIUNI */
.auth-section {
  width: 50%;
  padding: 50px;
  display: flex;
  flex-direction: column;
}

.auth-section:first-child {
  border-right: 1px solid #eee;
}

/* INPUT */
.auth-section input {
  padding: 12px;
  margin-bottom: 14px;
  font-size: 14px;
}

/* BUTTON */
.auth-section button {
  margin-top: 10px;
  padding: 14px;
  background: orange;
  color: white;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  font-size: 15px;
}

/* TEXT */
.switch-text {
  margin-top: 20px;
  font-size: 13px;
}

.switch-text span {
  color: orange;
  cursor: pointer;
  font-weight: bold;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .auth-card {
    flex-direction: column;
    width: 95%;
    min-height: auto;
  }

  .auth-section {
    width: 100%;
  }

  .auth-section:first-child {
    border-right: none;
    border-bottom: 1px solid #eee;
  }
}
