body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.featured {
    width: 100%;
    margin-top: 80px;
    padding: 20px 40px;
    background-color: #f5f5f5;
    display: flex;
    justify-content: center;
    align-items: center;
}
.featuredItem {
    background-color: aqua;
    flex:1;
    margin: 0 10px;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
}

.featuredImg {
    width: 100%;
    height: auto;
    border-radius: 8px;
    margin-bottom: 15px;
     
}
