body {
  margin: 0;
  padding: 0;
}

#root {
  margin: 0;
  padding: 0;
}
/* Poți păstra logo-ul pentru test */
.logo {
  height: 6em;
  padding: 1.5em;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

/* Animatie ok */
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* Card generic – pt alte pagini */
.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}